@import "tailwindcss";

@theme {
  /* Tus colores personalizados */
  --color-strawberry-milk: #FFD1DC;
  --color-soft-pink: #FFB6C1;
  --color-blush: #FFC0CB;
  --color-rose: #E8A0A8;
  --color-deep-rose: #D45D79;
  --color-cream-white: #FFFAF0;
  --color-soft-gold: #E6C200;
  --color-warm-charcoal: #4A3B3E;

  /* Tus tipografías (conectadas a variables que haremos luego) */
  --font-sans: var(--font-nunito);
  --font-script: var(--font-great-vibes);
}

/* --- AGREGA ESTO AQUÍ ABAJO --- */
/* Esto hace que al dar clic en "Ver Catálogo", baje deslizando */
html {
  scroll-behavior: smooth;
}